Response Message Body Parsing

See: http://httpwg.org/specs/rfc7230.html#message.body

Currently message body is considered to be a String and a StingBuilder is used to process all the message body lines if there are some. 
As the message body is not defined as a simple String, instead it's a byte sequence with different possible encodings and formats, a separate class might be needed to consider all eventualities in message body parsing.

Minimal criteria for successful message body (payload) parsing:
 * define message body start criterion (http://httpwg.org/specs/rfc7230.html#http.message)
 * according to RFC7230 section 3, message body is separated by an empty line (CRLF + CRLF) from message header
 * message body presence is indicated by presence of a "Content-Length" or "Transfer-Encoding" header field (http://httpwg.org/specs/rfc7230.html#message.body)
 * Not all HTTP messages contain a message body, certain messages types such as (1xx, 204, 304) must not contain a body, whereas all others have a message body optionally of 0 bytes length

Define a class / class structure to process or parse message body depending on header fields.